@font-face {
    font-family: 'GrimeSlimeDripping-Regular';
    src: url('fonts/GrimeSlimeDripping-Regular.ttf') format('ttf');
}

.title {
    font-family: 'GrimeSlimeDripping-Regular', sans-serif;
}