@font-face {
    font-family: 'GrimeSlimeDripping-Regular';
    src: url('Tarea 2/fonts/GrimeSlimeDripping-Regular.ttf') format('ttf');
}

.h1 {
    font-family: 'GrimeSlimeDripping-Regular', sans-serif;
}
